<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Country Details</title>
</head>
<body>
  <header>

  </header>
  <main>
    <h1>Country Details</h1>
    <section>
      <img src="<%- country.flag_url %>" alt="<%- country.name %> flag"/>
      <h2><%- country.name %></h2>
      <p><%- country.region %></p>
      <p><%- country.subregion %></p>
      <p><%- country.capital %></p>
      <p><%- country.currency %></p>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>