<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Country Details</title>
</head>
<body>
  <header>
    <%- include('header.ejs') %>
  </header>
  <main id="detailsmain">
    <h2>Country Details</h2>
    <section id="details">
      <img  src="<%- country.flag_url %>" alt="<%- country.name %> flag"/>
      <h2><%- country.name %></h2>
      <p>Languages: <%- country.language %></p>
      <p>Region: <%- country.region %></p>
      <p>Subregion: <%- country.subregion %></p>
      <p>Capital City: <%- country.capital %></p>
      <p>Travel Advisory:</p>
      <ul>
        <% if (advisory === 'not found') { %>
          <li>No advisory available.</li>
        <% } else { %>
          <li>Score: <%- advisory.score %> out of 5</li>
          <li><%- advisory.message %></li>
        <% } %>
      </ul>
      <p>Currency: <%- country.currency %></p>
      <p>Exchange Rates:</p>

      <% if (rates.length > 0) { %>
      <ul id="currency_rates">
        <% rates.forEach(rate => { %>
          <li>
           <%- `${rate[0]}: ${rate[1]}` %>
          </li>
        <% }) %>
        <% } else { %>
          <ul id="currency_rates">
            <li>No Exchange Data Available</li>
          </ul>
          <% } %>
      </ul>
      <% if (country.inDB === 'true') { %>
        <form action="/delete" method="post">
          <input type="hidden" name="name" value="<%- country.name %>">
          <input type="hidden" name="language" value="<%- country.language %>">
          <input type="hidden" name="region" value="<%- country.region %>">
          <input type="hidden" name="subregion" value="<%- country.subregion %>">
          <input type="hidden" name="capital" value="<%- country.capital %>">
          <input type="hidden" name="currency" value="<%- country.currency %>">
          <input type="hidden" name="flag_url" value="<%- country.flag_url %>">
          <input type="hidden" name="currency_symbol" value="<%- country.currency_symbol %>">
        <button id="savebutton" type="submit">Delete</button>
        </form>
      <% } else { %>
        <form action="/" method="post">
          <input type="hidden" name="name" value="<%- country.name %>">
          <input type="hidden" name="language" value="<%- country.language %>">
          <input type="hidden" name="region" value="<%- country.region %>">
          <input type="hidden" name="subregion" value="<%- country.subregion %>">
          <input type="hidden" name="capital" value="<%- country.capital %>">
          <input type="hidden" name="currency" value="<%- country.currency %>">
          <input type="hidden" name="flag_url" value="<%- country.flag_url %>">
          <input type="hidden" name="currency_symbol" value="<%- country.currency_symbol %>">
          <input type="hidden" name="alpha2Code" value="<%- country.alpha2Code %>">

        <button id="savebutton" type="submit">Save this Country</button>
        </form>
      <% } %>
    </section>
  </main>
  <footer>
    <%- include('footer.ejs') %>
  </footer>
</body>
</html>