<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <%- include('header.ejs') %>
    <!-- <a href="/">
      <h1 id="logo">xPatriate</h1>
    </a> -->
  </header>
   
  <main>
    <nav>
      <button id="country_search">Search for Country</button>
      <button id="region_search">Filter by Region</button>
    </nav>

    <!-- <section id="searchform" class="form"> -->
      <form id="newsearch" class="form" method="post" action="/searchspecific">
          <input id="searchbar" type="text" name ="search" placeholder="Search for a Specific Country"/>
          <button>Search</button>
      </form>
    <!-- </section> -->

    <!-- <section class="form"> -->
      <form id="regionform" class="form" method="post" action="/filtersearch">
        <label for="region">Region</label>

        <select id="region" name="region">
          <option class="default" value="default">Select Region</option>
          <option class="africa" value="africa">Africa</option>
          <option class="americas" value="americas">Americas</option>
          <option class="asia" value="asia">Asia</option>
          <option class="europe" value="europe">Europe</option>
          <option class="oceania" value="oceania">Oceania</option>
        </select>
        <label for="subregion">Subregion</label>

        <select id="subregion-dummy" >
          <option value="dummy"></option>
        </select>

        <select id="subregion-africa" class="subregion" name="subregion">
          <option class="default" value="default">Select Subregion</option>
          <option value="eastern africa">Eastern Africa</option>
          <option value="middle africa">Middle Africa</option>
          <option value="northern africa">Northern Africa</option>
          <option value="southern africa">Southern Africa</option>
          <option value="western africa">Western Africa</option>
        </select>

        <select id="subregion-americas" class="subregion" name="subregion">
          <option class="default" value="default">Select Subregion</option>
          <option value="central america">Central America</option>
          <option value="northern america">Northern America</option>
          <option value="caribbean">Caribbean</option>
          <option value="south america">South America</option>
        </select>

        <select id="subregion-asia" class="subregion" name="subregion">
          <option class="default" value="default">Select Subregion</option>
          <option value="central asia">Central Asia</option>
          <option value="eastern asia">Eastern Asia</option>
          <option value="south-eastern asia">South-Eastern Asia</option>
          <option value="southern asia">Southern Asia</option>
          <option value="western asia">Western Asia</option>
        </select>

        <select id="subregion-europe" class="subregion" name="subregion">
          <option class="default" value="default">Select Subregion</option>
          <option value="eastern europe">Eastern Europe</option>
          <option value="northern europe">Northern Europe</option>
          <option value="southern europe">Southern Europe</option>
          <option value="western europe">Western Europe</option>
        </select>

        <select id="subregion-oceania" class="subregion" name="subregion">
          <option class="default" value="default">Select Subregion</option>
          <option value="australia and new zealand">Australia and New Zealand</option>
          <option value="melanesia">Melanesia</option>
          <option value="micronesia">Micronesia</option>
          <option value="polynesia">Polynesia</option>
        </select>

        
        <label for="language">Language</label>
    
        <select id="language-dummy">
            <option value="dummy"></option>
        </select>

        <select id="language-africa" class="language" name="language">
          <option class="default" value="default">Select Language</option>
          <option value="afrikaans">Afrikaans</option>
          <option value="amharic">Amharic</option>
          <option value="arabic">Arabic</option>
          <option value="chichewa">Chichewa</option>
          <option value="english">English</option>
          <option value="french">French</option>
          <option value="fula">Fula</option>
          <option value="kinyarwanda">Kinyarwanda</option>
          <option value="kirundi">Kirundi</option>
          <option value="kongo">Kongo</option>
          <option value="lingala">Lingala</option>
          <option value="luba-katanga">Luba-Katanga</option>
          <option value="malagasy">Malagasy</option>
          <option value="northern ndebele">Ndebele - Northern</option>
          <option value="southern ndebele">Ndebele - Southern</option>
          <option value="portuguese">Portuguese</option>
          <option value="sango">Sango</option>
          <option value="shona">Shona</option>
          <option value="somali">Somali</option>
          <option value="spanish">Spanish</option>
          <option value="southern sotho">Southern Sotho</option>
          <option value="swahili">Swahili</option>
          <option value="swati">Swati</option>
          <option value="tigrinya">Tigrinya</option>
          <option value="tsonga">Tsonga</option>
          <option value="tswana">Tswana</option>
          <option value="venda">Venda</option>
          <option value="xhosa">Xhosa</option>
          <option value="Zulu">Zulu</option>
        </select>

        <select id="language-americas" class="language" name="language">
          <option class="default" value="default">Select Language</option>
          <option value="aymara">Aymara</option>
          <option value="dutch">Dutch</option>
          <option value="english">English</option>
          <option value="french">French</option>
          <option value="guarani">Guarani</option>
          <option value="haitian">Haitian</option>
          <option value="kalaallisut">Kalaallisut</option>
          <option value="portuguese">Portuguese</option>
          <option value="punjabi">Punjabi</option>
          <option value="quechua">Quechua</option>
          <option value="spanish">Spanish</option>
        </select>

        <select id="language-asia" class="language" name="language">
          <option class="default" value="default">Select Language</option>
          <option value="arabic">Arabic</option>
          <option value="armenian">Armenian</option>
          <option value="azerbaijani">Azerbaijani</option>
          <option value="bengali">Bengali</option>
          <option value="burmese">Burmese</option>
          <option value="chinese">Chinese</option>
          <option value="divehi">Divehi</option>
          <option value="dzongkha">Dzongkha</option>
          <option value="english">English</option>
          <option value="farsi">Farsi</option>
          <option value="french">French</option>
          <option value="georgian">Georgian</option>
          <option value="hebrew">Hebrew</option>
          <option value="hindi">Hindi</option>
          <option value="indonesian">Indonesian</option>
          <option value="japanese">Japanese</option>
          <option value="kazakh">Kazakh</option>
          <option value="khmer">Khmer</option>
          <option value="korean">Korean</option>
          <option value="kurdish">Kurdish</option>
          <option value="kyrgyz">Kyrgyz</option>
          <option value="lao">Lao</option>
          <option value="malay">Malay</option>
          <option value="malaysian">Malaysian</option>
          <option value="mongolian">Mongolian</option>
          <option value="nepali">Nepali</option>
          <option value="pashto">Pashto</option>
          <option value="portuguese">Portuguese</option>
          <option value="russian">Russian</option>
          <option value="sinhalese">Sinhalese</option>
          <option value="tajik">Tajik</option>
          <option value="tamil">Tamil</option>
          <option value="thai">Thai</option>
          <option value="turkish">Turkish</option>
          <option value="turkmen">Turkmen</option>
          <option value="uzbek">Uzbek</option>
          <option value="urdu">Urdu</option>
          <option value="vietnamese">Vietnamese</option>
        </select>

        <select id="language-europe" class="language" name="language">
          <option class="default" value="default">Select Language</option>
          <option value="albanian">Albanian</option>
          <option value="armenian">Armenian</option>
          <option value="belarusian">Belarusian</option>
          <option value="bosnian">Bosnian</option>
          <option value="bulgarian">Bulgarian</option>
          <option value="catalan">Catalan</option>
          <option value="croatian">Croatian</option>
          <option value="czech">Czech</option>
          <option value="danish">Danish</option>
          <option value="dutch">Dutch</option>
          <option value="english">English</option>
          <option value="faroese">Faroese</option>
          <option value="finnish">Finnish</option>
          <option value="french">French</option>
          <option value="german">German</option>
          <option value="greek">Greek</option>
          <option value="hungarian">Hungarian</option>
          <option value="icelandic">Icelandic</option>
          <option value="irish">Irish</option>
          <option value="italian">Italian</option>
          <option value="latin">Latin</option>
          <option value="latvian">Latvian</option>
          <option value="lithuanian">Lithuanian</option>
          <option value="luxembourgish">Luxembourgish</option>
          <option value="macedonian">Macedonian</option>
          <option value="maltese">Maltese</option>
          <option value="manx">Manx</option>
          <option value="norwegian">Norwegian</option>
          <option value="polish">Polish</option>
          <option value="portuguese">Portuguese</option>
          <option value="romanian">Romanian</option>
          <option value="russian">Russian</option>
          <option value="serbian">Serbian</option>
          <option value="slovak">Slovak</option>
          <option value="slovene">Slovene</option>
          <option value="spanish">Spanish</option>
          <option value="swedish">Swedish</option>
          <option value="turkish">Turkish</option>
          <option value="ukrainian">Ukrainian</option>
        </select>

        <select id="language-oceania" class="language" name="language">
          <option class="default" value="default">Select Language</option>
          <option value="bislama">Bislama</option>
          <option value="chamorro">Chamorro</option>
          <option value="english">English</option>
          <option value="fijian">Fijian</option>
          <option value="french">French</option>
          <option value="hindi">Hindi</option>
          <option value="maori">Maori</option>
          <option value="marshallese">Marshallese</option>
          <option value="nauruan">Nauruan</option>
          <option value="samoan">Samoan</option>
          <option value="spanish">Spanish</option>
          <option value="tonga">Tonga</option>
          <option value="urdu">Urdu</option>
        </select>

        <button>Search</button>

      </form>
    <!-- </section> -->






    <section id="savedlist">
      <h1>Your Saved Countries</h1>
      <!-- <ul id="temp"> -->
        <section>
          <% countries.forEach(country => { %>
            <form action="/details" method="post">
              <input type="hidden" name="name" value="<%- country.name %>">
              <input type="hidden" name="language" value="<%- country.language %>">
              <input type="hidden" name="region" value="<%- country.region %>">
              <input type="hidden" name="subregion" value="<%- country.subregion %>">
              <input type="hidden" name="capital" value="<%- country.capital %>">
              <input type="hidden" name="currency" value="<%- country.currency %>">
              <input type="hidden" name="flag_url" value="<%- country.flag_url %>">
              <input type="hidden" name="currency_symbol" value="<%- country.currency_symbol %>">
              <input type="hidden" name="inDB" value="<%- true %>">
              <input type="hidden" name="alpha2Code" value="<%- country.alpha2code %>">
              <button type="submit" class="countrybutton">
                <img class="flagimg" src="<%- country.flag_url %>"/>
                <p class="countryname">
                  <%- country.name %>
                </p>
              </button>
            </form>
          <% }) %>
        </section>
      <!-- </ul> -->
    </section>

  </main>

  <footer>
    <%- include('footer.ejs') %>
  </footer>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>